/* matches LWS website */
:root {
  --nv-primary-accent: #2b2b2b;
  --nv-secondary-accent: #fcaf3b;
  --nv-site-bg: #ffffff;
  --nv-light-bg: #ededed;
  --nv-dark-bg: #009ddb;
  --nv-text-color: #2b2b2b;
  --nv-text-dark-bg: #ffffff;
  --nv-c-1: #77b978;
  --nv-c-2: #f37262;
  --nv-fallback-ff: Arial, Helvetica, sans-serif;
}

body {
  font-family: Poppins, var(--nv-fallback-ff);
  color: var(--nv-text-color);
  margin: 0 10%;
  padding: 0px;
}
a {
  color: var(--nv-dark-bg);
  text-decoration: none;
}

/*******************************************************************************
 * the top page banner  */
.topSection {
  width: 100%;
}
.topSection td:nth-of-type(2) {
  padding: 1em;
}
.topSection h2 {
  margin: 5% 0 0 0;
  font-size: x-large;
}
.topSection #logo {
  max-height: 9em;
}

/*******************************************************************************
 * home page */
.home-feature, .home-history h3 {
  border-bottom: 3px solid var(--nv-secondary-accent)
}
.home-history {
  margin-top: 3em;
}

/*******************************************************************************
 * section-title is the horizontal header that declares the classname, methods, etc. */
.section-title {
  background-color: steelblue;
  color: var(--nv-site-bg);
  padding: 10px;
  font-weight: bold;
  margin-bottom: 2px;
}
.section-title span {
  float: right;
}
.section-title.methods {
  opacity: 70%;
  font-size: large;
}
tr {
  vertical-align: top;
}

/*******************************************************************************
 * display the tags like author, date, description, params, return value, etc. */
.details {
  width: 100%;
  border-color: white;
}
.details th {
  background-color: var(--nv-light-bg);
  padding: 6px 3px;
  text-align: right;
}
.details th.paramHeader {
  background-color: var(--nv-site-bg);
  text-align: left;
}
.details th.param {
  background-color: var(--nv-light-bg);
  padding-left: 10px;
}
.details td {
  width: 90%;
}
td.classCell {
  padding-bottom: 40px;
}
pre, code {
  font-size: 120%;
}
pre {
  margin-left: 20px;
}

/*******************************************************************************
 * properties is used to display the table of class properties */
.properties {
  width: 100%;
}
.properties td {
  vertical-align: top;
  width: 90%;
}
.clsPropertyName {
  font-weight: bold;
  text-align: right;
}
.clsPropertyDeclaration {
  font: normal 1em Courier;
  color: SteelBlue;
}
.clsPropertyDescription {
  font-weight: normal;
}

/*******************************************************************************
 * trigger is the set of styles to provide the expand/collapse bar */
h2.trigger {
  margin: 0 0 2px 0;
  padding: 7px;
  background-color: var(--nv-secondary-accent);
  font-weight: bold;
  font-size: medium;
}
h2.trigger a {
  color: var(--nv-light-bg);
  text-decoration: none;
}
h2.trigger a:hover {
  color: var(--nv-site-bg);
}
input {
  min-width: 2em;
}

/*******************************************************************************
 * section that gets shown/hidden when the trigger is expanded/collapsed */
.toggle_container {
  padding: 10px;
}
.toggle_container_subtitle {
  font: normal 1em Courier;
  padding-bottom: 10px;
}

/*******************************************************************************
 * styles for the menu of class names */
.leftmenus {
  vertical-align: top;
  width: 20%;
  padding-right: 1em;
}
.leftmenus div {
  font-weight: bold;
  background-color: var(--nv-light-bg);
  padding: 10px;
  cursor: pointer;
}
.leftmenus div:hover {
  font-weight: bold;
  background-color: var(--nv-light-bg);
}