/* matches LWS website */
:root {
  --nv-primary-accent: #2b2b2b;
  --nv-secondary-accent: #fcaf3b;
  --nv-site-bg: #ffffff;
  --nv-light-bg: #ededed;
  --nv-dark-bg: #009ddb;
  --nv-text-color: #2b2b2b;
  --nv-text-dark-bg: #ffffff;
  --nv-c-1: #77b978;
  --nv-c-2: #f37262;
  --nv-fallback-ff: Arial, Helvetica, sans-serif;
  --nv-mono-ff: Monoco, "Courier New", monospace;
}

body {
  font-family: Poppins, var(--nv-fallback-ff);
  color: var(--nv-text-color);
  margin: 0;
  padding: 150px 0 70px;
}
a {
  color: var(--nv-dark-bg);
  text-decoration: none;
}

/*******************************************************************************
 * the top page banner  */
.header {
  height: 150px;
  width: 100%;
  padding: 0 10%;
  position: fixed;
  background-color: lightgray;
  top: 0;
}
.header #logo {
  max-height: 110px;
  margin-top: 20px;
}
.header td:nth-of-type(2) {
  padding: 1em;
}
.header h2 {
  margin: 20px 0 0 30px;
  font-size: 3em;
}
.header h2 {
  font-weight: normal;
}
span.boost {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: -1px;
  /* color: var(--nv-secondary-accent); */
}
.header h2 span.from {
  font-size: initial;
}

/*******************************************************************************
 * containter */
.container {
  min-height: 100%;
  margin: 0 10%;
  background-color: white;
}

/*******************************************************************************
 * home page */
blockquote {
  background-color: antiquewhite;
  padding: 1em;
}
#home .feature,
#home .history h3 {
  margin-block-end: 0.5em;
  border-bottom: 3px solid var(--nv-secondary-accent)
}
#home .history {
  margin-top: 3em;
}
#home .history h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
#home p,
#home ul {
  margin-block-start: 0.5em;
}

/*******************************************************************************
 * section-title is the horizontal header that declares the classname, methods, etc. */
.section-title {
  background-color: steelblue;
  color: var(--nv-site-bg);
  padding: 10px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2px;
}
.child.section-title {
  margin-top: 1em;
}
.section-title span {
  float: right;
}
.section-title.methods {
  margin-top: 1em;
  background-color: rgba(70, 130, 180, .7);
  font-size: large;
}
tr {
  vertical-align: top;
}

/*******************************************************************************
 * display the tags like author, date, description, params, return value, etc. */
.details {
  width: 100%;
  border-color: white;
}
.details th {
  background-color: var(--nv-light-bg);
  padding: 6px 3px;
  text-align: right;
}
.details th.paramHeader {
  background-color: var(--nv-site-bg);
  text-align: left;
}
.details th.param {
  background-color: var(--nv-light-bg);
  padding-left: 10px;
}
.details td {
  width: 90%;
}
pre, code {
  white-space: pre-wrap;
  font-size: large;
  background-color: #f2f2f2;
  padding: 0 4px;
  border-radius: 5px;
}
pre {
  margin-left: 10px;
}

/*******************************************************************************
 * properties is used to display the table of class properties */
.properties {
  width: 100%;
}
.properties td {
  vertical-align: top;
  width: 90%;
}
.clsPropertyName {
  font-weight: bold;
  text-align: right;
}
.clsPropertyDeclaration {
  font-family: var(--nv-mono-ff);
  color: SteelBlue;
}
.clsPropertyDescription {
  font-weight: normal;
}

/*******************************************************************************
 * trigger is the set of styles to provide the expand/collapse bar */
h2.trigger {
  margin: 0 0 2px 0;
  padding: 7px;
  background-color: var(--nv-secondary-accent);
  font-weight: bold;
  font-size: medium;
}
h2.trigger a {
  color: var(--nv-light-bg);
  text-decoration: none;
}
h2.trigger a:hover {
  color: var(--nv-site-bg);
}
input {
  min-width: 2em;
}

/*******************************************************************************
 * section that gets shown/hidden when the trigger is expanded/collapsed */
.toggle_container {
  padding: 10px;
}
.toggle_container_subtitle {
  font-family: var(--nv-mono-ff);
  font-size: larger;
  padding-bottom: 10px;
}

/*******************************************************************************
 * styles for the menu of class names */
.leftmenus {
  width: 20%;
  float: left;
}
.leftmenus ul {
  margin: 0 10px 0 0;
  padding: 0;
}
.leftmenus li {
  display: block;
  background-color: #e6e6e6;
  cursor: pointer;
}
.leftmenus a {
  color: var(--nv-primary-accent);
  padding: 8px;
  display: inline-block;
  width: calc(100% - 16px);
}
.leftmenus li:hover {
  font-weight: bold;
  background-color: whitesmoke;
}

div.page {
  float: left;
  width: 80%;
  max-height: 100%;
  overflow: auto;
}

/*******************************************************************************
 * footer */
hr {
  display: none;
}
#footer {
  position: fixed;
  height: 30px;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  background-color: lightgray;
}